In [1]:
#Task 1
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [4]:
CCLOAN=pd.read_csv(r'.\DataCapstoneProject2\ccFraudDefault\trainfinal.csv')

In [5]:
CCLOAN.head(10)

,CLIENTID,LATE_PAYMENT,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ORGANIZATION_TYPE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,402072,0,Cash loans,F,N,N,0,67500.0,191880.0,18976.5,...,Other,unknown,unknown,5.0,0.0,5.0,0.0,-2797.0,0.0,0.0
1,384853,0,Revolving loans,M,N,Y,0,135000.0,270000.0,13500.0,...,Business Entity Type 3,block of flats,Panel,8.0,0.0,8.0,0.0,-234.0,0.0,1.0
2,170510,0,Cash loans,F,Y,N,1,90000.0,900000.0,29034.0,...,Medicine,block of flats,Panel,0.0,0.0,0.0,0.0,-1836.0,0.0,0.0
3,186475,0,Cash loans,F,N,Y,0,69300.0,270000.0,11569.5,...,XNA,block of flats,Panel,0.0,0.0,0.0,0.0,-3046.0,0.0,0.0
4,392298,0,Cash loans,F,N,N,0,117000.0,1195461.0,35082.0,...,XNA,unknown,unknown,0.0,0.0,0.0,0.0,0.0,0.0,3.0
5,416297,0,Cash loans,F,N,Y,0,135000.0,900000.0,32017.5,...,Business Entity Type 3,unknown,unknown,10.0,0.0,9.0,0.0,-1538.0,0.0,0.0
6,348607,0,Cash loans,M,Y,Y,0,180000.0,225000.0,20637.0,...,Business Entity Type 3,block of flats,Panel,0.0,0.0,0.0,0.0,-973.0,0.0,6.0
7,350884,0,Cash loans,M,Y,Y,0,270000.0,534204.0,42336.0,...,Business Entity Type 3,unknown,unknown,2.0,0.0,2.0,0.0,-513.0,2.0,2.0
8,325558,0,Cash loans,F,N,Y,1,157500.0,319981.5,19467.0,...,Business Entity Type 3,block of flats,"Stone, brick",1.0,1.0,1.0,1.0,-1747.0,1.0,1.0
9,153930,0,Cash loans,F,N,Y,0,130500.0,112500.0,11124.0,...,Self-employed,block of flats,Panel,0.0,0.0,0.0,0.0,-675.0,0.0,1.0

In [6]:
CCLOAN.columns

Index(['CLIENTID', 'LATE_PAYMENT', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'ORGANIZATION_TYPE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [8]:
CCLOAN.describe()

,CLIENTID,LATE_PAYMENT,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,230633.000000,230633.000000,230633.000000,2.306330e+05,2.306330e+05,230633.000000,2.306330e+05,230633.000000,230633.000000,230633.000000,...,230633.000000,230633.000000,230633.000000,230633.000000,230633.000000,230633.000000,230633.000000,230633.000000,230633.000000,230633.000000
mean,278019.972138,0.080730,0.416033,1.686759e+05,5.982199e+05,27076.834213,5.375948e+05,0.020850,-16040.600023,64120.116042,...,0.078107,0.229971,0.178834,1.414845,0.142690,1.397749,0.099669,-962.156526,0.229664,1.643347
std,102829.778088,0.272421,0.721422,2.661192e+05,4.015465e+05,14461.128789,3.683561e+05,0.013806,4369.855423,141529.616782,...,0.268340,0.420815,0.383214,2.424885,0.446762,2.403299,0.362257,827.734418,0.792405,1.854868
min,100003.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,0.000000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4292.000000,0.000000,0.000000
25%,188863.000000,0.000000,0.000000,1.125000e+05,2.700000e+05,16506.000000,2.385000e+05,0.010006,-19691.000000,-2753.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1568.000000,0.000000,0.000000
50%,278005.000000,0.000000,0.000000,1.440000e+05,5.130000e+05,24880.500000,4.500000e+05,0.018850,-15759.000000,-1210.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-755.000000,0.000000,1.000000
75%,367042.000000,0.000000,1.000000,2.025000e+05,8.086500e+05,34587.000000,6.795000e+05,0.028663,-12407.000000,-287.000000,...,0.000000,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000,-272.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,348.000000,34.000000,344.000000,24.000000,0.000000,261.000000,25.000000

There are features with numbers that are wildly large and some are very small.  I will use log to convert them to be a sizeable number to compare values.  I will use the min and max to see the spread of the value

AMT_INCOME_TOTAL
AMT_CREDIT
---AMT_ANNUITY
AMT_GOODS_PRICE


need to drop Days Employed, figure out AMT_ANNUITY because of 0 value cannot be divided by 0

In [12]:
num_features=['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_GOODS_PRICE']

for feature in num_features:
    CCLOAN[feature]=np.log(CCLOAN[feature])

In [13]:
CCLOAN.head(10)

,CLIENTID,LATE_PAYMENT,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ORGANIZATION_TYPE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,402072,0,Cash loans,F,N,N,0,11.119883,12.164625,18976.5,...,Other,unknown,unknown,5.0,0.0,5.0,0.0,-2797.0,0.0,0.0
1,384853,0,Revolving loans,M,N,Y,0,11.813030,12.506177,13500.0,...,Business Entity Type 3,block of flats,Panel,8.0,0.0,8.0,0.0,-234.0,0.0,1.0
2,170510,0,Cash loans,F,Y,N,1,11.407565,13.710150,29034.0,...,Medicine,block of flats,Panel,0.0,0.0,0.0,0.0,-1836.0,0.0,0.0
3,186475,0,Cash loans,F,N,Y,0,11.146200,12.506177,11569.5,...,XNA,block of flats,Panel,0.0,0.0,0.0,0.0,-3046.0,0.0,0.0
4,392298,0,Cash loans,F,N,N,0,11.669929,13.994042,35082.0,...,XNA,unknown,unknown,0.0,0.0,0.0,0.0,0.0,0.0,3.0
5,416297,0,Cash loans,F,N,Y,0,11.813030,13.710150,32017.5,...,Business Entity Type 3,unknown,unknown,10.0,0.0,9.0,0.0,-1538.0,0.0,0.0
6,348607,0,Cash loans,M,Y,Y,0,12.100712,12.323856,20637.0,...,Business Entity Type 3,block of flats,Panel,0.0,0.0,0.0,0.0,-973.0,0.0,6.0
7,350884,0,Cash loans,M,Y,Y,0,12.506177,13.188533,42336.0,...,Business Entity Type 3,unknown,unknown,2.0,0.0,2.0,0.0,-513.0,2.0,2.0
8,325558,0,Cash loans,F,N,Y,1,11.967181,12.676018,19467.0,...,Business Entity Type 3,block of flats,"Stone, brick",1.0,1.0,1.0,1.0,-1747.0,1.0,1.0
9,153930,0,Cash loans,F,N,Y,0,11.779129,11.630709,11124.0,...,Self-employed,block of flats,Panel,0.0,0.0,0.0,0.0,-675.0,0.0,1.0